{% load static %}
<html>
    <head>
        <title>Verre-Tech</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    </head>
    <body>
        <h3>Demonstration CI/CD : version 2.16.6 un commit de présentation bonjour</h3>
        {% if user.is_authenticated %}
            <p class="headline">Connecté en tant que {{ user.username }}</p>
        {% endif %}
        <div class="main-container">
            <div class="navigation">
                <div class="item"><a href="/">Produits</a></div>
                <!-- <div class="item"><a href="/contact">Contact</a></div> -->
                {% if user.is_authenticated %}
                    <div class="item"><a href="/cart">Panier</a></div>
                    <div class="item"><a href="/global_orders">Commandes</a></div>
                    <div class="item"><a href="/user">Profil</a></div>
                    <div class="item"><a href="/logout">Déconnexion</a></div>
                {% else %}
                    <div class="item"><a href="/login">Connexion</a></div>
                {% endif %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>