{% extends 'core/base.html' %}

{% block content %}
    <div id="page-cart">
            <h1>Mon panier</h1>
            <section>
                <div>
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th class="infos-prod">Ref.</th>
                                <th class="infos-prod">Nom produit</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
        ​
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="infos-prod">{{ order.product.pk }}</td>
                                    <td class="infos-prod"><a><img src="{{ order.product.image.url }}" />{{ order.product.name }}</a></td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.product.price }} $</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="total-price">
                                <td colspan="3">Total :</td>
                                <td>360 $</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="cart-validate">
                        <a class="waves-effect waves-light btn-large" href="/valid_cart/"><i class="material-icons left">add_shopping_cart</i>Valider le panier</a>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}