{% extends 'core/base.html' %}

{% block content %}
    <div class="global_orders">
        {% for key, value in global_orders.items %}
            <div id="page-cart">
                <h4>Commande n°{{ key }}</h4>
                <section>
                    <div>
                        <table class="cart-table">
                            <thead>
                                <tr>
                                    <th class="infos-prod">Ref.</th>
                                    <th class="infos-prod">Nom produit</th>
                                    <th>Quantité</th>
                                    <th>Prix</th>
                                </tr>
                            </thead>
            ​
                            <tbody>
                                {% for order in value.orders %}
                                    <tr>
                                        <td class="infos-prod">{{ order.product.pk }}</td>
                                        <td class="infos-prod"><a><img src="{{ order.product.image.url }}" />{{ order.product.name }}</a></td>
                                        <td>{{ order.quantity }}</td>
                                        <td>{{ order.product.price }} $</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="total-price">
                                    <td colspan="3">Total :</td>
                                    <td>360 $</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock %}