{% extends 'core/base.html' %}

{% block content %}
    <h2>Login</h2>
    <form action="/login/" method="post">
        {% csrf_token %}
        <input name="username" type="text">
        <input name="password" type="password">
        <button type="submit">Login</button>
    </form>
{% endblock %}