{% extends 'core/base.html' %}

{% block content %}
    <div class="products">
        {% for product in products %}
        <div class="card">
            <div class="card-image">
                <img src="{{ product.image.url }}">
                <span class="card-title">{{ product.name }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="/add_cart/?id={{ product.id }}"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>{{ product.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}