{% extends 'core/base.html' %}

{% block content %}
    <h2>Informations de {{ user.username }}</h2>
    <form method="post">
        {% csrf_token %}
        <input name="username" type="text" value="{{ user.username }}" disabled>
        <input name="username" type="password" value="eeeeeeeeee" disabled>
    </form>
{% endblock %}