body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    transition: all .3s ease;
}
.headline {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
.main-container {
    display: flex;
    flex-direction: row;
}

.main-container .navigation {
    padding-top: 60px;
    padding-left: 80px;
    flex: 0 1 300px;
    position: fixed;
}
.main-container .navigation .item a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.main-container .navigation .item a:hover{
    font-weight: 700;
}

.main-container .content {
    flex: 1 1 auto;
    padding-top: 60px;
    padding-right: 80px;
    padding-left: 330px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products .card {
    flex: 0 0 30%;
    margin-bottom: 60px;
}

.products .card .card-image img {
    height: auto;
}



img {
    max-width: 100%;
    vertical-align: bottom;
}
#demo-produit {
    max-width: 1200px;
    margin: 0 auto;
}
​
.productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
​
.item-list {
    width: calc(33% - 5px);
    border: 1px solid #e1e1e1;
    transition: all 350ms;
}
.item-list:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
​
.desc-prod > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc-prod input.qty-prod {
    width: auto;
    display: none;
}
.desc-prod a {
    font-weight: bold;
}
.desc-prod {
    padding: 10px;
}
a {
    color: black;
}
#page-cart section {
    max-width: 1200px;
    margin: 0 auto;
}
.cart-table img {
    max-width: 80px;
    vertical-align: middle;
    margin-right: 10px;
}
.cart-table th {
    text-transform: uppercase;
}
​
.cart-table th:not(.infos-prod), .cart-table td:not(.infos-prod) {
    text-align: center;
}
.total-price td:first-child {
    text-align: right;
}
.total-price td {
    font-weight: bold;
}
